<div class="h-[calc(100vh-8vh)] bg-cover bg-no-repeat bg-[url('new_year.jpg')]">
  <div class="place-content-center h-full" data-controller="timer">
    <p class="text-5xl pb-8 font-mono text-white text-center text-shadow animate-text-color">До Нового Года осталось ... </p>
    <style>
      .animate-text-color {
          animation: colorChange 5s infinite alternate;
        }

        @keyframes colorChange {
          0% {
      color: #ff0000; /* Start with red */
          }
          50% {
      color: #00ff00; /* Change to green */
          }
          100% {
      color: #0000ff; /* Change to blue */
          }
        }
    </style>
    <div class="grid auto-cols-max grid-flow-col gap-5 text-center place-content-center">
      <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
        <span class="countdown font-mono text-5xl" data-timer-target='days'>
          <span style="--value:15;"></span>
        </span>
        days
      </div>
      <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
        <span class="countdown font-mono text-5xl" data-timer-target='hours'>
          <span style="--value:10;"></span>
        </span>
        hours
      </div>
      <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
        <span class="countdown font-mono text-5xl" data-timer-target='min'>
          <span style="--value:24;"></span>
        </span>
        min
      </div>
      <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
        <span class="countdown font-mono text-5xl" data-timer-target='sec'>
          <span style="--value:00;"></span>
        </span>
        sec
      </div>
    </div>
  </div>
</div>
